<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.ComentoStatistic.dao.StatisticMapper">

    <select id="selectYearLogin" parameterType="string" resultType="YearCountDto">
        select concat('20', #{year}) as year, count(*) as totCnt
        from statistic3.requestInfo ri
        where left(ri.createDate, 2) = #{year};
    </select>



    <select id="selectYearMonthLogin" parameterType="string" resultType="YearMonthCountDto">
        select concat('20', #{yearMonth}) as yearMonth, count(*) as totCnt
        from statistic3.requestInfo ri
        where left(ri.createDate, 4) = #{yearMonth};
    </select>

    <select id="selectMonthlyLogins" parameterType="string" resultType="MonthlyCountDto">
        select
            substr(createDate, 1, 6) as month,
            count(*) as totCnt
        from
            statistic3.requestInfo
        where
            left(createDate, 2) = #{year}
        group by
            month
        order by
            month;
    </select>

    <select id="selectDailyLogins" parameterType="String" resultType="DailyCountDto">

        select
            concat('20',substr(createDate, 1, 6)) as day,
            count(*) as totCnt
        from
            statistic3.requestInfo
        where
            left(createDate,6) = #{day};


    </select>

    <select id="selectDailyAvgLogins" parameterType="string" resultType="DailyAvgDto">
        select
            concat('20', #{year}) as year,
            round(count(*) / 365.0, 2) as averageLogins
        from
            statistic3.requestInfo
        where
            left(createDate, 2) = #{year};
    </select>

    <select id="selectLoginsForYear" parameterType="string" resultType="LoginDto">
        select createDate
        from statistic3.requestInfo
        where left(createDate, 2) = #{year};
    </select>


</mapper>